body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.back-to-top {
    position: -webkit-sticky; 
    position: sticky;
    top: 20px; 
    left: 100%;
    right: 20px;
    background-color: #333; 
    color: white;
    padding: 15px; 
    border-radius: 50%;
    text-decoration: none;
    font-size: 24px;
    z-index: 1000; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); 
    transition: background-color 0.3s; 
    width: 20px; 
    height: 20px; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
}

.back-to-top:hover {
    background-color: #4CAF50; /* Change color on hover */
}

main {
    padding: 15px; 
}

section {
    padding: 15px; 
    background-color: #f4f4f4; 
}